body {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
}
footer {
		margin-bottom: 0px;
		text-align: center;
}
img {
		float: left;
}
h1 {
		font-family: "Arial";
		display: block;
		padding-top: 20px;
}
h2 {
		font-family: "Arial";
		display: block;
}
p {
		font-family: "Arial";
}
p.paddingtop {
		padding-top: 100px;
}